<div class="main_content_frame">
    <div class="caption_frame">
        <span class="caption">MUSIC.SOUND.<b>REDEFINED</b></span>
    </div>
    
    <div class="main_body_content">
        <br />
        <span class="main_body_title">Mike Matthews Demos</span>
        <br /><br />                   
        <span>
            <table style="vertical-align: middle; width: 100%;">
                <td>
                    <tr>
                        <span style="text-align: left;">Jazz Cookers Boston Shuffle 2019</span>
                    </tr>
                </td>
                <td style="text-align: right;">
                    <tr>
                        <audio title="Jazz Cookers Boston Shuffle 2019" controls><source src="assets/samples/mikematthews/JazzCookersBostonShuffle.mp3" type="audio/mpeg">Jazz Cookers</audio>                        
                    </tr>
                </td>
            </table>
            <table style="vertical-align: middle;">
                <td style="text-align: left;">
                    <tr>
                        <span>Metropolitan Jazz Orchestra Live at Dazzle</span>
                    </tr>
                </td>                
                <td style="text-align: right;">
                    <tr>
                        <audio title="Metropolitan Jazz Orchestra Live at Dazzle" controls><source src="assets/samples/mikematthews/MetropolitanJazzOrch_Dazzle.mp3" type="audio/mpeg">Jazz Cookers</audio>                        
                    </tr>                    
                </td>
            </table>
        </span>
    </div>

</div>
