<div class="main_content_frame">
    <div class="caption_frame">
        <span class="caption">MUSIC.SOUND.<b>REDEFINED</b></span>
    </div>
    
    <div class="main_body_content">
        <br />
        <span class="main_body_title">Mike Matthews Demos</span>
        <br /><br />                   
        <span>
            <table style="vertical-align: middle;">
                <td>
                    <tr>
                        <span>Jazz Cookers Boston Shuffle 2019</span>
                    </tr>
                </td>
                <td>
                    <tr>
                        <audio title="Jazz Cookers Boston Shuffle 2019" controls><source src="assets/samples/mikematthews/JazzCookersBostonShuffle.mp3" type="audio/mpeg">Jazz Cookers</audio>                        
                    </tr>
                </td>
            </table>

        </span>
    </div>

</div>
