<div class="main_content_frame">
    <div class="caption_frame">
        <span class="caption">MUSIC.SOUND.<b>REDEFINED</b></span>
    </div>
    
    <div class="main_body_content">
        <br />
        <span class="main_body_title">Our Studio, Equipment and Services offered by Michael Matthews Productions</span>
        <br /><br />  
        <span>
            <table>
                <td>
                    <tr>
                        <li>
                            PreSonus FireStudio
                        </li>
                        <li>
                            PreSonus Mobile Studio
                        </li>
                        <li>
                            PreSonus FireStudio
                        </li>
                        <li>
                            PreSonus Mobile Studio
                        </li>                        
                    </tr>
                </td>
                <td>
                    <tr>
                        <li>
                            PreSonus FireStudio
                        </li>
                        <li>
                            PreSonus Mobile Studio
                        </li>
                        <li>
                            PreSonus FireStudio
                        </li>
                        <li>
                            PreSonus Mobile Studio
                        </li>                        
                    </tr>
                </td>
            </table>

        </span>
    </div>

</div>

