<div class="main_content_frame">
    <div class="caption_frame">
        <span class="caption">MUSIC.SOUND.<b>REDEFINED</b></span>
    </div>
    
    <div class="main_body_content">
        <br />
        <span class="main_body_title">Our Studio, Equipment and Services offered by Michael Matthews Productions</span>
        <br /><br />  
        <span>
            <table>
                <td>
                    <tr>
                        <li>
                            PreSonus Studio One 5 Artist
                        </li>
                        <li>
                            15 X 15 Accoustic Sound Room
                        </li>
                        <li>
                            16 X 4 Channel Snake
                        </li>
                        <li>
                            PreSonus Mobile Studio for site recording
                        </li>                        
                    </tr>
                </td>
                <td>
                    <tr>
                        <li>
                            Shure and Audix Microphones
                        </li>
                        <li>
                            Evolution Mk Series Keyboards
                        </li>
                        <li>
                            Drum Sets
                        </li>
                        <li>
                            Advanced Audio Mixing, sound correction
                        </li>                        
                    </tr>
                </td>
            </table>

        </span>
    </div>

</div>

