<!-- Toolbar -->
<div class="topbuffer">
</div>

<div class="headerimage">
  <div class="menubuffer">
    
  </div>
  <div class="menu">
  &nbsp;|
      <a mat-button routerLink="home" style="color: #4E2583;">Home </a>&nbsp;|
      <a mat-button routerLink="studio" style="color: #4E2583;">Equipment and Services </a>&nbsp;|
      <a mat-button routerLink="samples" style="color: #4E2583;">Demos </a>&nbsp;|
      <a mat-button routerLink="contact" style="color: #4E2583;">Contact Us </a>&nbsp;|
      <button mat-button [matMenuTriggerFor]="menu" style="color: #4E2583;">Demos</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Mike Matthews</button>
        <button mat-menu-item>Bernie Conway</button>
      </mat-menu>

  </div>
</div>

  <br/><br/>

  <router-outlet></router-outlet>
  <br/><br/>
  
