<div class="main_content_frame">
    <div class="caption_frame">
        <span class="caption">MUSIC.SOUND.<b>REDEFINED</b></span>
    </div>
    
    <div class="main_body_content">
        <br />
        <span class="main_body_title">Welcome to Michael Matthews Productions</span>
        <br /><br />                   
        <span>Michael Matthews Productions is an audio and music production company specializing in recording, editing, 
            mixing and mastering, music composition, effects and sweetening.
            We provide studio based digital audio recording in our acoustically treated sound room, and can provide live
            field recording. We also work with in-house and local musicians to provide high quality soundtrack for film, 
            web and mobile content, radio and television
        </span>
    </div>

</div>
